.module-snippet {
    width: 100%;
    margin: 0 0 1em 0;
    overflow: hidden;
    height: 6em;
    line-height: 1.5em; 
  }
  .module-snippet p {
    margin: 0;
  }
  .line-clamp-snippet {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
  }
  
  .snippet-text {
      font-size: 12px;
      cursor: pointer;
      color: #000000;
  }