footer {
  padding: 20px;
  text-align: center;
}
.footerRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 30%;
  margin: auto;
}

.footerIcon {
  background-color: #001a67;
  color: white;
  border-color: #001a67;
  border-radius: 75%;
  border-style: solid;
  border-width: 2px;
  font-size: 50px !important;
}

.footerDisabled {
  color: white;
  border-color: #001a67 !important;
  border-radius: 75%;
  border-style: solid;
  border-width: 2px;
  font-size: 50px !important;
}

.footerIcon:hover {
  background-color: white;
  color: black;
}
