footer {
  padding: 20px;
}
.footerRow {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-around !important;
  max-width: 50%;
  margin: auto;
}

.footerIcon {
  background-color: #E31B23;
  color: white;
  border-color: #E31B23;
  border-radius: 75%;
  border-style: solid;
  border-width: 2px;
  font-size: 50px !important;
}

.footerDisabled {
  background-color: #E31B23;
  color: white;
  border-color: #E31B23 !important;
  border-radius: 75%;
  border-style: solid;
  border-width: 2px;
  font-size: 50px !important;
  opacity: 30%;
}

.footerIcon:hover {
  background-color: white;
  color: #E31B23;
}
