.formPanel{
    font-family: Arial, Helvetica, sans-serif;
    color: #001A67;
  }
  .industry-dropdown{
    font-family: Arial, Helvetica, sans-serif;
    color: #001A67; 
  }
  .industry-label-id{
    font-family: Arial, Helvetica, sans-serif;
    color: #001A67; 
  }
  .industry-id{
    font-family: Arial, Helvetica, sans-serif;
    color: #001A67; 
  }
  
.menuItem{
    font-family: Arial, Helvetica, sans-serif;
    color: #001A67;
  }

  .indUst{
    font-family: Arial, Helvetica, sans-serif;
    color: #001A67;   
  }



  

  
  